# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
# *.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# Fine-tuning
dataset/
armbench/
armbench512x384_5_all.h5
offload/
flash_attn-2.4.2+cu118torch2.0cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
error
error
error_tr
output_tr
error
